html,body {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: cinzel;
    src: url(../fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}
p{
    font-size: 30px;
    font-family: cinzel;
    text-align: center;
   color: #def3f2;
   text-shadow: 0px 5px 3px #000000;
}
.room {
    background:linear-gradient(180deg,#29182e 80%,#3f3e3e 20%);
    height: 600px;
    width: 900px;
    border-top: 3px solid black;
    border-right: 3px solid #493123;
}
.room .clock {
    height: 65px;
    width: 65px;
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 3%;
}
.room .clock::before{
    content: "";
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 44%;
    top: 46%;
}
.room .clock .hour-hand {
    height: 55%;
    width: 0px;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid black;
    top: 0;
    left: 50%;
    transform-origin: bottom;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 0.8s;
}
.room .clock .minute-hand {
    width: 42%;
    height: 0;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    position: absolute;
    border: 2px solid black;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 2s;
    transform-origin: left;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

.room .bed {
    width: 480px;
    height: 100px;
    background-color: white;
    position: absolute;
    margin-top: 560px;
    margin-left: -50px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 14px;
    box-shadow: 1px 2px 5px black;
}
.room .bed:after{
    content: "";
    height: 45%;
    width: 480px;
    bottom: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 12px;
    background-color: #362b1d;
    border: 1px solid #362b1d;
    position: absolute;
}
.room .bed::before {
    content: "";
    height: 40px;
    width: 120px;
    border: 1px soild #8a8a8ae8;
    background-color: #353836;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 40px;
    position: absolute;
    margin-top: -40px;
    right: 0px;

}
.window {
    height: 200px;
    width: 200px;
    border: 5px solid black;
    float: right;
    margin-top: 10%;
    margin-right: 25%;
    background-color: #3976e6;
    display: flex;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    animation-name: window-bg;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes window-bg {
    100%{
        background-color: #5fb2ff;
    }
    60%{
        background-color: #061c46;
    }
    0%{
        background-color: #000000;
    }
    
}
.window .sun {
    height: 60px;
    z-index: 2;
    width: 60px;
    background-color: white;
    box-shadow: 0px 0px 15px white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation-name: sunshine;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-timing-function: linear;
}
@keyframes sunshine {
    0%{
        transform: translateY(-200px);
        -webkit-transform: translateY(-200px);
        -moz-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
        -o-transform: translateY(-200px);
    }
    50% {
        transform: translateX(30px);
        -webkit-transform: translateX(30px);
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
}
    100% {
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        margin-left: 40px;
    }  
}
.moon {
    height: 60px;
    width: 60px;
    background-color: transparent;
    box-shadow: 15px 0px 1px white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 2;
    margin-top: -90px;
    transform: translateX(60px);
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -o-transform: translateX(60px);
    animation-name: moonlight;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes moonlight {
    0% {
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
    }
   
    100% {
        transform: translateX(150px);
        -webkit-transform: translateX(150px);
        -moz-transform: translateX(150px);
        -ms-transform: translateX(150px);
        -o-transform: translateX(150px);
    }
}
.window .h-bar {
    width: 200px;
    background-color: black;
    height: 7px;
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .window .h-bar .v-bar {
    height: 200px;
    background-color: black;
    width: 7px;
    position: absolute;
    z-index: 3;
}
.pc {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 198px;
}
.pc .desktop-screen {
    height: 130px;
    width: 2px;
    border: 4px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: black;
    transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
    margin-left: 70px;
    box-shadow:10px 0px 15px #ffffff ;
    animation-name: screen-color;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes screen-color {
    0%{
        box-shadow: 18px 0px 20px #fff;
    }
    20%{
        box-shadow: 18px 0px 20px #6e98e6;
    }   
    40%{
        box-shadow: 18px 0px 20px #6ee688;
    }
    60%{
        box-shadow: 18px 0px 20px #cde078;
    } 
    80%{
        box-shadow: 18px 0px 20px #02ffff;
    }
    100%{
        box-shadow: 18px 0px 15px #ffffff;
    }
}
.pc .desktop-neck {
    height: 50px;
    width: 7px;
    border-radius: 3px;
    margin-top: -42px;
    border: 1px solid black;
    background-color: black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-left: 60px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.pc .desktop-base {
    width: 50px;
    height: 9px;
    border: 1px solid black;
    background-color: black;
    margin-left: 27px;
    border-radius: 5px;
    margin-top: -7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.room .table {
    height: 200px;
    width: 190px;
    border: 1px solid #806747;
    background-color: #806747;
    border-radius: 15px;
    position: absolute;
    top: 350px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    z-index: 10;
}
.room .table::after {
    content: url("");
    background-color: #362b1d;
    height: 200px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 100%;
    border-top-right-radius: 15px;
    width: 120px;
    position: absolute;
    right: 0%;
}
.room .head {
    height: 80px;
    width: 80px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /* position: absolute; */
     margin-top: 18%;
    margin-left: 23%;
}
.room .head::before,.room .head::after {
    content: "";
    background-color: white;
    height: 6px;
    width: 6px;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    animation-name: eye-blink;
    animation-iteration-count: infinite;
    animation-duration: 1.7s;
}
.room .head::before {
    margin-left: 28px;
}
@keyframes eye-blink {
    0%{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
}
}
.room .body {
    height: 180px;
    width: 55px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-left: 30%;
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
}
/*----CHAIR BACK----*/
.room .body::after {
    content: "";
    position: absolute;
    height: 170px;
    width: 25px;
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    margin-left: 21px;
    transform-origin: bottom;
    transform: rotate(30deg);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.room .arm {
    height: 90px;
    width: 30px;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-left: 29%;
    margin-top: -170px;
    transform-origin: top;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.room .forearm {
    height: 32px;
    width: 90px;
    background-color: black;
    border: 1px solid black;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-left: 17%;
    margin-top: -45px;
    animation-name: typing;
    animation-iteration-count: infinite;
    animation-duration: .1s;
}
@keyframes typing {
    0%{
        box-shadow: 0px -10px 1px black;
        transform-origin: right;
        transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -o-transform: rotate(15deg);
}
}
.room .sit {
    height: 30px;
    width: 90px;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-left: 30%;
    margin-top: 60px;
}
.room .sit:after {
    content: "";
    height: 110px;
    width: 13px;
    border: 1px solid black;
    background-color: black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    position: absolute;
    margin-top: 24px;
    margin-left: 18px;
    transform-origin: top;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
}
.room .sit::before{
    content: "";
    height: 110px;
    width: 13px;
    border: 1px solid black;
    background-color: black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    position: absolute;
    margin-left: 50px;
    margin-top: 24px;
    transform-origin: top;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
     
}
.room .lap {
    height: 30px;
    width: 90px;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-left: 25%;
    margin-top: -45px;
    transform-origin: right;
    transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
}
.room .leg {
    height: 120px;
    width: 30px;
    z-index: 3;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-left: 26.7%;
    margin-top: -5px;
    transform-origin: top;
    transform: rotate(34deg);
    -moz-transform: rotate(34deg);
    -ms-transform: rotate(34deg);
    -o-transform: rotate(34deg);
    -webkit-transform: rotate(34deg);
}
